[submodule "edk2-ampere-tools"]
	path = edk2-ampere-tools
	url = https://github.com/ADLINK/edk2-ampere-tools.git
	branch = adlink
[submodule "AmpereAltra-ATF-SCP"]
	path = AmpereAltra-ATF-SCP
	url = https://github.com/ADLINK/AmpereAltra-ATF-SCP.git
