[submodule "AmpereAltra-ATF-SCP"]
	path = AmpereAltra-ATF-SCP
	url = https://github.com/ADLINK/AmpereAltra-ATF-SCP.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/ADLINK/edk2-platforms.git
[submodule "OpenPlatformPkg"]
	path = OpenPlatformPkg
	url = https://github.com/ADLINK/OpenPlatformPkg.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/ADLINK/edk2.git
[submodule "edk2-ampere-tools"]
	path = edk2-ampere-tools
	url = https://github.com/ADLINK/edk2-ampere-tools.git
