[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/bcran/edk2-platforms
	branch = adlink-v2.04.100
[submodule "OpenPlatformPkg"]
	path = OpenPlatformPkg
	url = https://github.com/ADLINK/OpenPlatformPkg.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/ADLINK/edk2.git
[submodule "MultiArchUefiPkg"]
	path = MultiArchUefiPkg
	url = https://github.com/intel/MultiArchUefiPkg.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/intel/unicorn-for-efi.git
[submodule "edk2-ampere-tool"]
	url = https://github.com/AmpereComputing/edk2-ampere-tools
[submodule "edk2-ampere-tools"]
	path = edk2-ampere-tools
	url = https://github.com/AmpereComputing/edk2-ampere-tools
